header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    background-color: #59abab;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main .card{
    background-color: #63efde;
    border: 1px solid;
    flex-basis: 200px;
    text-align: center;
    padding-bottom: 10px;
    margin: 10px;
}
main .card img{
    width: 100%;
}

body {
    background-image: url("https://cdn.iz.ru/sites/default/files/article-2021-03/Depositphotos_22807282_xl-2015.jpeg");
}

img{
    height: 190px;


}